services:
  database:
    image: 'mongo:latest'
    container_name: ${MONGO_CONTAINER_NAME}
    ports:
      - 127.0.0.1:27017:27017
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    networks:
      - mongo-network
    volumes:
      - ${PWD}/db-data/:/data/db
      - ${PWD}/init.sh:/docker-entrypoint-initdb.d/init.sh

networks:
  mongo-network:
    driver: bridge
